<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrap">
        <%- include('./component/nav.ejs')%>
        <h1 class="main_title">To Do List</h1> 
        <hr>     
        <div class="list_box"> 
            <% for(i=posts.length-1;i>=0;i--){%>
              <div class="list">
                <div class="list_title">
                   <h3 class="content_title"><%=posts[i].title%></h3>
                   <p><%=posts[i].createdAt.toLocaleDateString()%></p>
                </div>
                <div class="list_content">
                   <div class="contentEle">
                   <p><%=posts[i].post%></p>
                   </div>
                <form class="deletes" action="/delete/<%=posts[i].id%>" method="post" onsubmit="">
                <input type="submit" value="삭제하기">
                </form>
                <input class="update1" type="button" value="수정하기">
                <form class="updates" action="/update/<%=posts[i].id%>" method="post">
                    <textarea name="rewrite" 
                        cols="40" rows="7"
                        maxlength="255"
                        placeholder="최대 255자">
                    </textarea>
                    <input 
                        class="update2"
                        type="submit" value="수정발송">
                </form>   
                </div>
              </div>
            <%}%>
        </div>
        <!-- <hr> -->
        <div class="create">
            <div class="title_box">
                <h2 class="titleH2">할일 작성하기</h2>
            </div>
            <form class="write_box" action="/create" method="post">
                <label for="title">제목</label>
                <input type="text" maxlength="10" placeholder="10자 이내 작성" name="title">
                <textarea name="content"  cols="50" rows="6" maxlength="255"
                placeholder="최대 255자"></textarea>
                <input class="submit" type="submit" value="보내기">
                <input type="button" class="submit close"
                value="창닫기"
                >
            </form>
        </div><!--create-->
    
    </div>

        

    
    <script src="main.js"></script>
</body>
</html>